doctype html
html(lang="en")
  head
    title test1
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/main.css' rel='stylesheet')
  body
    #home.main-page
      header.steps-header
        a.steps-header__link(href='#step-1') GALLARY
    .steps
      -
        steps = [
          {
            name: 'one',
            image: 'https://scontent-frx5-1.cdninstagram.com/vp/c2713d084ebe9f61adb66cafa6904851/5E3FB7A0/t51.2885-15/sh0.08/e35/p750x750/13534347_781155495321575_2069950543_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=111'
          },
          {
            name: 'two',
            image: 'https://scontent-frx5-1.cdninstagram.com/vp/6ee51646ae10371af2f11a0b0eab5e18/5E3F3D5B/t51.2885-15/sh0.08/e35/p750x750/13437291_1773562619526108_663525300_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=100'
          },
          {
            name: 'three',
            image: 'https://scontent-frx5-1.cdninstagram.com/vp/88f123a71bcb79594286b7a038df085a/5E4270D5/t51.2885-15/sh0.08/e35/s750x750/13534633_1125774817493612_216896546_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=108'
          },
          {
            name: 'four',
            image: 'https://scontent-frx5-1.cdninstagram.com/vp/5e7ec2754f62ff7dd45f9df40a5fe3c1/5E4666DD/t51.2885-15/sh0.08/e35/s640x640/13437239_529797260537271_1320543099_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_cat=103'
          },
        ]
      each val, index in steps
        div(id="step-#{index + 1}").steps__item
          header.steps-header
            if index<1
              a.steps-header__link.steps-header__link_prev(href='#home') Home
            else
              a.steps-header__link.steps-header__link_prev(href='#step-#{index}') Prev
            ul.steps-list
              each item, step in steps
                li.steps-list__item
                  if step===index
                    a.steps-list__link.steps-list__link_active(href='#step-#{step + 1}')= step + 1
                  else
                    a.steps-list__link(href='#step-#{step + 1}')= step + 1
            if index == steps.length - 1
              a.steps-header__link.steps-header__link_next(href='#home') Home
            else
              a.steps-header__link.steps-header__link_next(href='#step-#{index + 2}') Next
          .steps-visual
            .steps-visual__box
              .steps-visual__holder
                img.steps-visual__img(src=val.image)
          .steps-content
            .steps-content__holder
              h1.steps-content__title
                | step-#{val.name}
              p.steps-content__text
                | text step-#{val.name}
          button.steps-button
            | button-#{val.name}
